"C:\\Program Files(x86)\\Microsoft Office\\root\\Office16\\WINWORD.EXE"
"C:\\Program Files(x86)\\Microsoft Office\\root\\Office16\\POWERPNT.EXE"
"C:\\Program Files(x86)\\Microsoft Office\\root\\Office16\\EXCEL.EXE"
"C:\\Program Files(x86)\\Microsoft Office\\root\\Office16\\OUTLOOK.EXE"
"C:\\Program Files\\Microsoft Office\\root\\Office16\\WINWORD.EXE"
"C:\\Program Files\\Microsoft Office\\root\\Office16\\POWERPNT.EXE"
"C:\\Program Files\\Microsoft Office\\root\\Office16\\EXCEL.EXE"
"C:\\Program Files\\Microsoft Office\\root\\Office16\\OUTLOOK.EXE"
C:\Windows\System32\notepad.exe
C:\Windows\System32\mspaint.exe
"C:\\Program Files\\Remote Desktop\\msrdcw.exe"
"C:\\ProgramData\\Microsoft\\Windows\\Start Menu\\Programs\\ECD\\PlanCare 2.lnk"
